.wallet-adapter-button {
    background-color: transparent !important;
    font-family: $font-main !important;
    text-transform: uppercase;
    border: 2px solid #fff !important;
    font-size: 14px !important;
    padding: 7px 9px !important;
    height: 36px !important;
}
.wallet-adapter-modal-list .wallet-adapter-button {
    border-color: transparent !important;
}
